body {
  background-color: #424242;
}
h1 {
  color: tomato;
  text-align: center;
  padding: 10px;
}
p {
  color: white;
  font-family: serif;
  font-size: 125%;
  margin: 0px;
  padding: 10px;
}
pre {
  color: white;
  font-family: serif;
  font-size: 125%;
  margin: 0px;
  padding: 10px;
}
img {
	border: 2px solid black;
	padding: 10px;
}
button {
	background-color: lightgray;
	size: 2000%;
}
.container {
  text-align: center;
}
.footer {
  background-color: #111111;
  padding: 50px;
  height: 320px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #111111;
}